<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS External -->
    <link rel="stylesheet" href="style1.css">

    <title>Hello, world!</title>
</head>

<body>
    <!-- Ini Navbar -->
    <div class="container-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Logo -->
            <a class="navbar-brand ml-5 mr-5" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <!-- Home -->
            <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item active mr-4">
                        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active mr-4">
                        <a class="nav-link" href="#">WORK <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active mr-4">
                        <a class="nav-link" href="#">CONTACT <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">ABOUT ME <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>

            <!-- Login -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
            <ul class="navbar-nav mr-5">
                <li class="nav-item active">
                    <a class="nav-link mr-4" href="#">SIGN UP <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link mr-4" href="#">LOGIN <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Penutup Navbar  -->


    <!-- Jumbotron -->
    <div class="content">
        <div class="m-5 p-5">
            <h1 class="display-3 p-5">PLAY TRADITIONAL GAME</h1>
            <P class="p-3">Experience new traditional game play</P>
            <a href="gamesuwit.html" class="btn btn-warning btn-lg active m-3" role="button" aria-pressed="true">PLAY NOW</a>
        </div>
    </div>
    <!-- Penutup Jumbotron -->

    <!-- Scroll This Story -->
    <div class="footer">
        <p>This Story</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
      </svg>
    </div>
    <!-- Penutup Scroll This Story -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>