body {
    background-color: burlywood;
}


/* Untuk Pembungkus */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

ul li {
    list-style: none;
}

ul li:hover {
    background-color: aliceblue;
}


/* Area Player */

.areaPlayer {
    font-size: 50px;
    justify-content: center;
    display: flex;
    position: relative;
}

.areaPlayer ul li {
    justify-content: center;
}

.areaPlayer ul li img {
    width: 70px;
    height: 70px;
}


/* Area Info  */

.info {
    font-size: 70px;
}

.info:hover {
    background-color: green;
}


/* Area Komputer  */

.areaComputer {
    font-size: 50px
}

.areaComputer ul li img {
    width: 70px;
    height: 70px;
}


/* Area Refresh  */

.areaRefresh {
    display: flex;
    justify-content: center;
}

.refresh {
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}